:root{
  --white-100: hsl(0, 0%, 100%);
  --gray-100: hsl(270, 3%, 87%);
  --gray-300: hsl(279, 6%, 55%);
  --violet-600: hsl(249, 99%, 64%);
  --violet-800:hsl(278, 94%, 30%);
  --violet-900: hsl(278, 68%, 11%);
  --red-400: hsl(0, 100%, 66%);
}